@{ Layout = "_LayoutUsers";}
@model MovieStore.Models.ViewModels.CartModel
@using System.Globalization;

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered table-condensed table-hover table-responsive">
                @ViewBag.Error
                    <tr>
                        <th class="col-xs-6">Movie Name</th>
                        <th class="col-xs-2">Movie Price</th>
                        <th colspan="2" class="col-xs-4">Duration of Rental</th>
                    </tr>
                @foreach (var m in Model.Rentals)
                {
                    <tr>
                        <td>@m.Movie.Title</td>
                        <td>@m.Cost</td>
                        <td>@m.StartRentalDate</td>
                        <td>@m.EndRentalDate</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @if (ViewBag.Error == null)
    {
    <div class="row">
        <div class="col-xs-3">
            <form enctype="application/x-www-form-urlencoded" action="/Cart/GoToPayment" method="post" >
                <input type="submit" class="btn-success" value="Purchase" />
                @Html.HiddenFor(m => m.Rentals)
            </form>
        </div>
    </div>
    }
</div>