@model IEnumerable<Movie>
@{ Layout = "_LayoutAdmins";}

<div class="bg-primary panel-body"><h4>Movies</h4></div>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<table class="table table-condensed table-bordered">
    <tr><th>Movie ID</th><th>Title</th><th>Date Released</th><th>Duration</th><th>Director</th><th>Cast</th><th>Desc</th><th>Price</th></tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="3" class="text-center">No Movies</td></tr>
    }
    else
    {
        foreach (Movie movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.DateReleased</td>
                <td>@movie.Duration</td>
                <td>@movie.Director</td>
                <td>@movie.Cast</td>
                <td>@movie.Desc</td>
                <td>@movie.Price</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <a asp-action="Edit" class="btn btn-sm btn-warning"
                           asp-route-movieId="@movie.MovieID">
                            Edit
                        </a>
                        <input type="hidden" name="MovieID" value="@movie.MovieID" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    }
</table>
<a class="btn btn-primary" asp-action="Create">Create</a>